//color
$main-text-color: #fff;
$attention-text-color: #C89AFC;
$background-color: black;
$background-color-side: #121212;
//end of color

//frame-size
$margin-lateral: 16.5%;
$margin-lateral-special: 4.3%;;
//end of frame-size
