//import
@import '_mixin';
@import '_var';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//end import

//global
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: $main-text-color;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 16px;
}
//end global

body {
  background: $background-color url("../img/bgc.png");
}

.side-text {
  opacity: 0.4;
}
//header
.header {
  background-image: url("../img/main-screen__bgc.png");
  background-position: right;
  background-repeat: no-repeat;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin: 0 $margin-lateral-special;
  }
  &__middle {
    margin: 6.1% $margin-lateral 0 $margin-lateral;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    background-color: $background-color-side;
    padding: 36px $margin-lateral;
    margin-top: 218px;
  }
  &__h{
    font-size: 4rem;
    white-space: pre-line;
  }
}

.logo {
  width: 40px;
  height: 40px;
}

.menu{
  @include flex-center ();
  margin-left: 11%;
  &__ul {
    @include flex-center ();
  }
  &__li {
    margin-left: 56px;
    @include flex-center ();
  }
  &__link {
    color: white;
    padding: 5px 0;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    @include flex-center ();
    transition: 0.8s;
      &:hover {
        color: $attention-text-color
    }
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  width: 183px;
  height: 44px;
  transition: 1s;
  @include no-pointer();
  &_bottom {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  }
  &:hover {
      background: $main-text-color;
     color: $attention-text-color;
   }
}

.timer {
  margin-top: 5%;
  display: flex;
  &__block {
    @include flex-center();
    flex-direction: column;
    background-color: $background-color-side;
    width: 102px;
    height: 112px;
    margin-right: 30px;
    @include no-pointer();
  }
  &__number {
    font-size: 2.25rem;
    font-weight: bold;
  }
}

.student-earnings {
  &__meter {
    width: 18em;
    height: 6px;
    background-color: white;
    display: inline-block;
    position: relative;
    &::before {
      content: '0';
      position: absolute;
      opacity: 0.4;
      margin-top: 7px;
    }
    &::after {
      content: '1000000₽';
      position: absolute;
      margin-left: 14em;
      opacity: 0.4;
      margin-top: 7px;
    }
    &_full {
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
      position: absolute;
      width: 0;
      &::before {
        content: '';
      }
      &::after {
        content: '';
      }
    }
  }
}
//end

//about
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px $margin-lateral 0 $margin-lateral;
}
.image-block {
  width: 30em;
  height: 28em;
  border: 15px solid;
  border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%) 1;
  position: relative;
  &__img {
    position: absolute;
    top: 11%;
    background-image: url("../img/image.png");
  }
}
.about-text {
  width: 32rem;
  margin-left: 5%;
  &__h {
    font-size: 3rem;
  }
  &__text {
    margin-top: 45px;
  }
}
//
